<div class="card  contact-list">
  <div class="card-body" *ngIf="contacts">
    <div class="list-group">
      <div class="list-item" *ngFor="let contact of contacts | sortByLastNameWithCapital">
        <div class="list-capital" *ngIf="!!contact.capital">{{contact.capital}}</div>
          <div class="list-button">
          <button class="list-group-item list-group-item-action rounded-0"
              [ngClass]="{'active': contact?.id === selectedContact?.id}"
              (click)="contactSelected(contact)">{{ contact.firstName  | titlecase }} {{ contact.lastName  | titlecase }}
          </button>
          <i class="fa fa-minus-circle" (click)="deleteContact(contact)"></i>
          </div>
      </div>
    </div>
  </div>
</div>


